<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cpu</th>
        <th>Ram</th>
        <th>Storage</th>
        <th>Status</th>
        <th>Controll</th>
      </tr>
    </thead>
    <tbody>
      <% Object.values(objgroupedMetrics).forEach(({ name, cpu, ram, bootdisk, status })=> { %>
        <tr>
          <td>
            <%= name %>
          </td>
          <td>
            <%= cpu %>%
          </td>
          <td>
            <%= ram %>%
          </td>
          <td>
            <%= bootdisk %>%
          </td>
          <td>
            <%= status %>
          </td>
          <td>
            <button type="submit">Start</button>
            <button type="submit">Stop</button>
            <button type="submit">Restart</button>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</body>

</html>
